@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Roboto&family=Ubuntu&display=swap');



.container{
    margin-top: 50px;
    /* height: 150vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
}
.text-left{
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
}
.big-title{
    /* position: absolute;
    right: 51%; */
    font-size: 5.8em;
    line-height: 0.9;
    width: 50%;
    margin: auto;
    font-weight: bold;
}
.text-right{
    font-size: 1.7em;
    line-height: 1.2;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
}
.h-pr{
    font-size: 3em;
    font-family: 'Prompt', sans-serif;

}
.content{
    width: 50%;
    margin: auto;
}
.yllw{
    color: aqua;
}
.content1{
    width: 50%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.clr{
    color: yellow;
}
.items > *{
    transform: translateX(0px);
    transition: transform 250ms;
}
.items:hover > *{
    transform: translateX(40px);
}
.link-social {
    text-decoration: none;
    color: yellowgreen;
    line-height: 1.5;
    font-size: 3.3em;
    font-family: 'Prompt', sans-serif;
}